.wrapper {
  min-width: 20vw;
  background-color: #161954;
}

.btn-gradient {
  background-repeat: no-repeat;
  color: white !important;
  border-radius: .6rem;
  background-image: linear-gradient(90deg, #4626e6 0%, #320d83 100%);
}

.btn-gradient:hover, .btn-gradient:active, .btn-gradient:focus {
  border-color: #44f7c2 !important;
  box-shadow: 0 0 16px #EC00F2;
  color: white !important;
}